body{
    background: url(https://raw.githubusercontent.com/Suzzanne20/ResourceNekoStation/main/Background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.princ{
    margin:0 auto;
    margin-top: 35%;
    padding: 0%;
}

.modal-content{
    background-color: rgb(255, 255, 255);
    opacity: .95;
    box-shadow: 0px 0px 7px midnightblue;
}

.logo{
    margin-top: -125px;
    margin-bottom: 20px;
}

